<%- include partials/header.ejs %>
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10  col-12 mx-auto">
            <div class="row">
                <div class="col-md-6  col-12 main_header_right align-items-center">
                    <figure>
                        <img src="/images/top-right.png" alt="ramesh saini" class="img-fluid">
                    </figure>
                </div>
                <div class="col-md-6  col-12 main_header_left">
                    <p>Welcome to my about us page.</p>
                    <h1>I am  <span class="text_clr">Node Backend developer</span>  working with Express framework</h1>
                    <a href="http://itmatic.io/" target="_blank"><button>About Us</button></a>
                </div>
                
            </div>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>