<%- include partials/header.ejs %>
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10  col-12 mx-auto">
            <div class="row">
                <div class="col-md-6  col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/404.png" alt="404page" class="img-fluid">
                    </figure>
                </div>
                <div class="col-md-6  col-12 main_header_left">
                    <p>Welcome to Weather app.</p>
                    <h1><%= message %></h1>
                    <a href="/"><button>Home Page</button></a>
                </div>
                
            </div>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>

